*{
    box-sizing: border-box;
}

@media (min-width: 992px) {
    h1{
        font-size: 48px;
    }
}

@media (min-width: 768px) {
    h1{
        font-size: 40px;
    }
}

h1{
    line-height: 1.2;
    margin: 0.5em 0.25em;
    text-align: center;
}

p{
    text-align: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: auto;
}


input{
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
}   


label{
    font-weight: 700;
    line-height: 16px;
    font-size: 16px;
    color: black;
}


input, button{
    margin-top: 10px;
}

button{
    /* background-color: #1DB954; Green */
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    transition: all 0.5s;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #000000;
    background-image: linear-gradient(63deg,#04619f 0%, #000000 130%);
}

.forgotpassword{
    margin-top: 130px;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: auto;
    margin-top: 20px;
}