.SongComponentHeading{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
.Sub-SliderComponent{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
}

.Sub-SliderComponent::-webkit-scrollbar {
    display: none;
  }

.card{
    margin: 12px;
    display: inline-block;
    width: 96%

}

.SliderComponent_card_1{
    display: flex;
    flex-direction: row;
}
.playBtn_1{
    width: 100%;
}
.playBtn_1>i{
    margin-top: 4px;
    font-size: 60px;
    color: green;
    float: right;
    margin-right: 15px;

}
