.SongContent{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    height: 83.2vh;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}
.SongContent::-webkit-scrollbar{
    display: none;
}
